In [ ]:
# Splitting, Cleaning, Merging and Analyzing Multiple Sales Files

In [1]:
import pandas as pd

In [ ]:
# Loading Dataset

In [2]:
df = pd.read_csv('Superstore.csv', encoding = "ISO-8859-1")

In [3]:
df.head(30)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700
10,11,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
11,12,CA-2014-115812,6/9/2014,6/14/2014,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,0.20,68.3568
12,13,CA-2017-114412,4/15/2017,4/20/2017,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432
13,14,CA-2016-161389,12/5/2016,12/10/2016,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.9760,3,0.20,132.5922
14,15,US-2015-118983,11/22/2015,11/26/2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5,0.80,-123.8580
15,16,US-2015-118983,11/22/2015,11/26/2015,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.5440,3,0.80,-3.8160
16,17,CA-2014-105893,11/11/2014,11/18/2014,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,...,53711,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.8800,6,0.00,13.3176
17,18,CA-2014-167164,5/13/2014,5/15/2014,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,...,84084,West,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.5000,2,0.00,9.9900
18,19,CA-2014-143336,8/27/2014,9/1/2014,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.5600,2,0.00,2.4824
19,20,CA-2014-143336,8/27/2014,9/1/2014,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.4800,3,0.20,16.0110
20,21,CA-2014-143336,8/27/2014,9/1/2014,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.7200,4,0.20,7.3840
21,22,CA-2016-137330,12/9/2016,12/13/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,...,68025,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.4600,7,0.00,5.0596
22,23,CA-2016-137330,12/9/2016,12/13/2016,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,...,68025,Central,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.3400,7,0.00,15.6884
23,24,US-2017-156909,7/16/2017,7/18/2017,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,...,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.3720,2,0.30,-1.0196
24,25,CA-2015-106320,9/25/2015,9/30/2015,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,0.00,240.2649
25,26,CA-2016-121755,1/16/2016,1/20/2016,Second Class,EH-13945,Eric Hoffmann,Consumer,United States,Los Angeles,...,90049,West,OFF-BI-10001634,Office Supplies,Binders,Wilson Jones Active Use Binders,11.6480,2,0.20,4.2224
26,27,CA-2016-121755,1/16/2016,1/20/2016,Second Class,EH-13945,Eric Hoffmann,Consumer,United States,Los Angeles,...,90049,West,TEC-AC-10003027,Technology,Accessories,Imation 8GB Mini TravelDrive USB 2.0 Flash Drive,90.5700,3,0.00,11.7741
27,28,US-2015-150630,9/17/2015,9/21/2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.4300,7,0.50,-1665.0522
28,29,US-2015-150630,9/17/2015,9/21/2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,OFF-BI-10000474,Office Supplies,Binders,Avery Recycled Flexi-View Covers for Binding S...,9.6180,2,0.70,-7.0532
29,30,US-2015-150630,9/17/2015,9/21/2015,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.2000,3,0.20,15.5250

In [ ]:
# Splitting into 4 files

In [4]:
num_splits = 4
rows_per_split = len(df) // num_splits
for i in range(num_splits):
    start = i * rows_per_split
    end = (i + 1) * rows_per_split
    split_df = df.iloc[start : end]
    split_df.to_excel(f"part{i+1}.xlsx", index = False)
    print(f"Creating part{i+1} with rows{start} to {end-1}")

Creating part1 with rows0 to 2497
Creating part2 with rows2498 to 4995
Creating part3 with rows4996 to 7493
Creating part4 with rows7494 to 9991

In [ ]:
# Cleaning Files

In [5]:
files = ["part1.xlsx","part2.xlsx","part3.xlsx","part4.xlsx"]
for file in files:
    Df = pd.read_excel(file)
    Df = Df.drop(columns=['Row ID'])
    Df['Order Date'] = pd.to_datetime(df['Order Date'])
    Df['Ship Date'] = pd.to_datetime(df['Ship Date'])
    cleaned_file_name = file.replace(".xlsx", "clean.xlsx")
    Df.to_excel(cleaned_file_name, index = False)

In [6]:
import glob

In [7]:
all_files = glob.glob("part*clean.xlsx")

In [8]:
dfs = []

In [9]:
for file in all_files:
    dff = pd.read_excel(file)
    dfs.append(dff)

In [10]:
final_df = pd.concat(dfs,ignore_index = True)

In [11]:
final_df.to_excel("merged_output.xlsx", index = False)

In [ ]:
# Cleaned Merged Dataset

In [12]:
final_df

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9987,CA-2017-163629,2016-09-10,2016-09-14,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.9900,1,0.00,28.7964
9988,CA-2017-163629,2016-09-10,2016-09-14,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,Georgia,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5,0.00,55.6470
9989,CA-2014-110422,2014-06-16,2014-06-22,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,CA-2017-121258,2015-09-26,2015-10-01,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,CA-2017-121258,2015-09-26,2015-10-01,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932

In [ ]:
## Insights

In [13]:
region_sales = final_df.groupby('Region')['Sales'].sum().reset_index().sort_values(by = 'Sales',ascending = False)
region_sales

    Region        Sales
3     West  725185.0645
1     East  678781.2400
0  Central  501239.8908
2    South  391721.9050

In [14]:
category_sales = final_df.groupby('Category')['Sales'].sum().reset_index().sort_values(by = 'Sales',ascending = False)
category_sales

          Category        Sales
2       Technology  836154.0330
0        Furniture  741999.7953
1  Office Supplies  718774.2720

In [33]:
product_wise_profit = final_df.groupby('Product Name')['Profit'].sum().reset_index().sort_values(by = 'Profit', ascending = False)
product_wise_profit

                                          Product Name      Profit
404              Canon imageCLASS 2200 Advanced Copier  25199.9280
650  Fellowes PB500 Electric Punch Plastic Comb Bin...   7753.0390
805               Hewlett Packard LaserJet 3310 Copier   6983.8836
400                 Canon PC1060 Personal Laser Copier   4570.9347
787  HP Designjet T520 Inkjet Large Format Printer ...   4094.9766
..                                                 ...         ...
376  Bush Advantage Collection Racetrack Conference...  -1934.3976
425  Chromcraft Bull-Nose Wood Oval Conference Tabl...  -2876.1156
476          Cubify CubeX 3D Printer Triple Head Print  -3839.9904
985          Lexmark MX611dhe Monochrome Laser Printer  -4589.9730
475          Cubify CubeX 3D Printer Double Head Print  -8879.9704

[1850 rows x 2 columns]

In [16]:
category_wise_profit = final_df.groupby('Category')['Profit'].sum().reset_index().sort_values(by = 'Profit',ascending = False)
category_wise_profit

          Category       Profit
2       Technology  145454.9481
1  Office Supplies  122404.5328
0        Furniture   18451.2728

In [17]:
top_customers = final_df.groupby('Customer Name')['Sales'].sum().reset_index().sort_values(by = 'Sales',ascending = False)
top_customers.head(10)

          Customer Name      Sales
686         Sean Miller  25043.050
730        Tamara Chand  19052.218
622        Raymond Buch  15117.339
757        Tom Ashbrook  14595.620
6         Adrian Barton  14473.571
441        Ken Lonsdale  14175.229
671        Sanjit Chand  14142.334
334        Hunter Lopez  12873.298
672        Sanjit Engle  12209.438
156  Christopher Conant  12129.072

In [18]:
top_customers_byprofit = final_df.groupby('Customer Name')['Profit'].sum().reset_index().sort_values(by = 'Profit',ascending = False)
top_customers_byprofit

      Customer Name     Profit
730    Tamara Chand  8981.3239
622    Raymond Buch  6976.0959
671    Sanjit Chand  5757.4119
334    Hunter Lopez  5622.4292
6     Adrian Barton  5444.8055
..              ...        ...
329   Henry Goldwyn -2797.9635
693  Sharelle Roach -3333.9144
477     Luke Foster -3583.9770
307  Grant Thornton -4108.6589
165   Cindy Stewart -6626.3895

[793 rows x 2 columns]

In [ ]:
# Creating Month/Year columns

In [19]:
final_df['Month'] = final_df['Order Date'].dt.month
final_df['Year'] = final_df['Order Date'].dt.year

In [26]:
monthly_sales = final_df.groupby(['Year','Month'])['Sales'].sum().reset_index()
monthly_sales

    Year  Month        Sales
0   2014      1   16515.5040
1   2014      2   10013.8555
2   2014      3   28180.3908
3   2014      4   23430.3660
4   2014      5   39867.5902
5   2014      6   56287.7460
6   2014      7   26389.4170
7   2014      8   47756.5945
8   2014      9   64288.8010
9   2014     10   22066.4492
10  2014     11   59678.5030
11  2014     12   70639.3745
12  2015      1    7873.8100
13  2015      2   24033.2560
14  2015      3   41470.1644
15  2015      4   40308.7830
16  2015      5   25601.2630
17  2015      6    8539.4460
18  2015      7   36496.2732
19  2015      8   50929.3120
20  2015      9   63125.0020
21  2015     10   61918.9315
22  2015     11   61597.7965
23  2015     12   81502.2732
24  2016      1   10675.1620
25  2016      2   18695.6050
26  2016      3   53007.6205
27  2016      4   60640.1914
28  2016      5   73963.9740
29  2016      6   56138.1858
30  2016      7   40405.0396
31  2016      8   24199.5668
32  2016      9   82943.6454
33  2016     10   36018.5160
34  2016     11   84731.8704
35  2016     12   65767.0580
36  2017      1   36588.4105
37  2017      2   20036.0180
38  2017      3   47763.9118
39  2017      4   43797.0445
40  2017      5   28125.9671
41  2017      6   57356.1250
42  2017      7   59918.0375
43  2017      8   40134.5226
44  2017      9   96126.8773
45  2017     10   85902.3790
46  2017     11   99942.9278
47  2017     12  105538.5418

In [28]:
yearly_sales = final_df.groupby('Year')['Sales'].sum().reset_index()
yearly_sales

   Year        Sales
0  2014  465114.5917
1  2015  503396.3108
2  2016  607186.4349
3  2017  721230.7629

In [29]:
final_df['Profit_Margin'] = ((final_df['Profit']/ final_df['Sales']) * 100)
final_df['Profit_Margin']

0       16.00
1       30.00
2       47.00
3      -40.00
4       11.25
        ...
9987    36.00
9988    27.00
9989    16.25
9990    17.00
9991     7.50
Name: Profit_Margin, Length: 9992, dtype: float64

In [ ]:
# Exporting Cleaned Dataset To Excel

In [34]:
final_df.to_excel("project2.xlsx",sheet_name = "Cleaned_data",index = False)

In [ ]:
# Exporting insghts to excel in separate sheets

In [35]:
with pd.ExcelWriter("project2_insightz.xlsx",engine = "openpyxl") as writer:
    final_df.to_excel(writer,sheet_name = "Cleaned_Data", index = False)
    region_sales.to_excel(writer,sheet_name = "Region_Sales", index = False)
    category_sales.to_excel(writer,sheet_name = "Category_Sales", index = False)
    product_wise_profit.to_excel(writer,sheet_name = "product_wise_profit", index = False)
    category_wise_profit.to_excel(writer,sheet_name = "category_wise_profit", index = False)
    top_customers.to_excel(writer,sheet_name = "top_customers", index = False)
    top_customers_byprofit.to_excel(writer,sheet_name = "top_customers_byprofit", index = False)
    monthly_sales.to_excel(writer,sheet_name = "monthly_sales", index = False)
    yearly_sales.to_excel(writer,sheet_name = "yearly_sales", index = False)